.cart{
    background-color: #FFE0B3;
    padding: 25px;
    position: sticky;
    top: 0;
    height: 100vh;
}
.cart p{
    font-size: 17px;
}
.grand-total{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}
.btn-clear-cart{
    display: flex;
    width: 100%;
    height: 56px;
    font-size: 21px;
    background-color: #ff3030;
    border-radius: 4px;
    color: white;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
}